.d p {
  color: rgb(61, 61, 61);
  font-family: Cera Pro;
  font-size: 15px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: left;
  margin-top: 36px;
}
.d b {
  font-weight: 700px;
}
.d2 {
  display: flex;
  align-items: center;
  gap: 245px;
  border-bottom: 0.3px solid #46a35880;
  width: 782px;
  padding-bottom: 11px;
}
.d3 {
  display: flex;
  align-items: center;
  gap: 108px;
}
.d2 p {
  color: rgb(61, 61, 61);
  font-family: Cera Pro;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: left;
}
.d4 {
  display: flex;
  align-items: center;
  gap: 94px;
  background: rgb(251, 251, 251);
  padding: 4px;
  width: 782px;
  margin-top: 11px;
}
.d5 {
  display: flex;
  align-items: center;
  gap: 14px;
}
.d5 h1 {
  color: rgb(61, 61, 61);
  font-family: Cera Pro;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: left;
}
.d5 h2 {
  font-family: Cera Pro;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: left;
}
.d4 p {
  color: rgb(114, 114, 114);
  font-family: Cera Pro;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: left;
}
.d4 h3 {
  color: rgb(70, 163, 88);
  font-family: Cera Pro;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: left;
}
.d4 svg {
  font-size: 24px;
  color: gray;
  cursor: pointer;
}
.d6 {
  display: flex;
  align-items: center;
  gap: 11px;
}
.d6 button {
  padding: 5px;
  border-style: none;
  cursor: pointer;
  border-radius: 31px;
  background: linear-gradient(
    180deg,
    rgb(70, 163, 88),
    rgba(70, 163, 88, 0.8) 100%
  );
  color: rgb(255, 255, 255);
  font-family: Cera Pro;
  font-size: 20px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: left;
}
.d4 button:disabled {
  opacity: 0.5;
}
.d6 h4 {
  color: rgb(61, 61, 61);
  font-family: Cera Pro;
  font-size: 17px;
  font-weight: 400;
  line-height: 10px;
  letter-spacing: 0%;
  text-align: left;
}
.d5 img {
  width: 70px;
}
.d7 h1 {
  color: rgb(61, 61, 61);
  font-family: Cera Pro;
  font-size: 18px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: left;
}
.d7 h2 {
  color: rgb(61, 61, 61);
  font-family: Cera Pro;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: left;
  margin-top: 22px;
}
.d8 {
  display: flex;
  align-items: center;
  margin-top: 8px;
  margin-bottom: 15px;
}
.d8 input {
  box-sizing: border-box;
  border: 1px solid rgb(70, 163, 88);
  border-radius: 3px;
  padding: 13px 9px;
  outline: none;
  width: 240px;
}
.d8 button {
  border-radius: 0px 3px 3px 0px;
  cursor: pointer;
  border-style: none;
  padding: 13.7px 25px;
  background: rgb(70, 163, 88);
  color: rgb(255, 255, 255);
  font-family: Cera Pro;
  font-size: 15px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: left;
}
.d9 {
  display: flex;
  max-width: 332px;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
}
.d9 h3 {
  color: rgb(61, 61, 61);
  font-family: Cera Pro;
  font-size: 15px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: left;
}
.d9 h4 {
  color: rgb(61, 61, 61);
  font-family: Cera Pro;
  font-size: 18px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: right;
}
.d9 p {
  color: rgb(61, 61, 61);
  font-family: Cera Pro;
  font-size: 15px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: left;
}
.d10 p {
  color: rgb(61, 61, 61);
  font-family: Cera Pro;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0%;
  text-align: left;
}
.d10 h4 {
  color: rgb(70, 163, 88);
  font-family: Cera Pro;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0%;
  text-align: right;
}
.d10 {
  max-width: 332px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 26px;
}
.d9 b {
  color: rgb(70, 163, 88);
  font-family: Cera Pro;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: left;
}
.d11 {
  border-radius: 3px;
  cursor: pointer;
  background: rgb(70, 163, 88);
  border-style: none;
  padding: 12px 98px;
  color: rgb(255, 255, 255);
  font-family: Cera Pro;
  font-size: 15px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: left;
  margin-top: 30px;
}
.d7 a {
  text-decoration: none;
}
.d7 h6 {
  margin-left: 100px;
  color: rgb(70, 163, 88);
  font-family: Cera Pro;
  font-size: 15px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: left;
  margin-top: 14px;
}
.d1 {
  display: flex;
  align-items: start;
  gap: 76px;
  margin-top: 51px;
}
