.b {
  background: linear-gradient(
    134.56deg,
    rgba(245, 245, 245, 0.5) -23.457%,
    rgba(245, 245, 245, 0.5) 107.508%
  );
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 95px;
  justify-content: center;
  margin-top: 12px;
}
.b1 p {
  color: rgb(61, 61, 61);
  font-family: Cera Pro;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 10%;
  text-align: left;
  text-transform: uppercase;
}
.b1 h1 {
  font-family: Cera Pro;
  font-size: 70px;
  font-weight: 900;
  line-height: 70px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
  margin-top: 7px;
  max-width: 575px;
}
.b1 b {
  color: #46a358;
}
.b1 h2 {
  color: rgb(114, 114, 114);
  font-family: Cera Pro;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  margin-top: 5px;
  max-width: 557px;
}
.b1 button {
  border-radius: 6px;
  border-style: none;
  padding: 10px 25px;
  cursor: pointer;
  background: rgb(70, 163, 88);
  color: rgb(255, 255, 255);
  font-family: Cera Pro;
  font-size: 16px;
  margin-top: 44px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
}
.b2 {
  display: flex;
  align-items: baseline;
}
